
<div *ngIf="booking">
    <h2><span>Booking</span> {{booking.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{booking.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Start Time</span></dt>
        <dd>
            <span>{{booking.startTime | date:'medium'}}</span>
        </dd>
        <dt><span>End Time</span></dt>
        <dd>
            <span>{{booking.endTime | date:'medium'}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{booking.status}}</span>
        </dd>
        <dt><span>Court</span></dt>
        <dd>
            <div *ngIf="booking.court">
                <a [routerLink]="['/court', booking.court?.id]">{{booking.court?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'booking/'+ booking.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
