<div>
    <h2>
        <span>Bookings</span>

    </h2>
    <jhi-alert></jhi-alert>
   <!-- <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Enter location">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>-->
    <br/>
    <div class="row">
    <div class="col-sm-12">
        <form name="searchCourt" class="form-inline">
            <div class="form-group">
                <label class="form-control-label" for="region">Select any region </label>
                <select class="form-control" name="region" [(ngModel)]="currentSearch" id="region" (ngModelChange)="searchcourt(currentSearch)" required>
                    <option value="PetalingJaya">PetalingJaya</option>
                    <option value="KelanaJaya">KelanaJaya</option>
                    <option value="PutraJaya">PutraJaya</option>
                    <option value="Kualalumpur">Kualalumpur</option>
                    <option value="SubangJaya">SubangJaya</option>
                    <option value="Damansara">Damansara</option>
                    <option value="USJ">USJ</option>
                    <option value="Puchong">Puchong</option>
                    <option value="Nilai">Nilai</option>
                    <option value="BukitBintang">BukitBintang</option>
                </select>

            </div>
        </form>
    </div>
    </div>
    <!--<div  *ngIf="currentSearch != ''"><h1>Selected</h1></div>-->
    <br/>
    <div class="table-responsive" *ngIf="courts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="rate"><span>Rate</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="region"><span>Region</span> <span class="fa fa-sort"></span></th>
               <!-- <th jhiSortBy="courtImage"><span>Court Image</span> <span class="fa fa-sort"></span></th>-->
                <th jhiSortBy="courtType.type"><span>Court Type</span> <span class="fa fa-sort"></span></th>
              <!--  <th jhiSortBy="user.login"><span>User</span> <span class="fa fa-sort"></span></th>-->
                <th jhiSortBy="courtLocation.address"><span>Futsal Center</span> <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let court of courts ;trackBy: trackId">
              <!--  <td><a [routerLink]="['../../court', court.id ]">{{court.id}}</a></td>-->
                <td>{{court.id}}</td>
                <td>{{court.name}}</td>
                <td>{{court.rate}}</td>
                <td>{{court.region}}</td>
               <!-- <td>
                    <a *ngIf="court.courtImage" (click)="openFile(court.courtImageContentType, court.courtImage)">
                        <img [src]="'data:' + court.courtImageContentType + ';base64,' + court.courtImage" style="max-height: 30px;" alt="court image"/>
                    </a>
                    <span *ngIf="court.courtImage">{{court.courtImageContentType}}, {{byteSize(court.courtImage)}}</span>
                </td>-->
               <!-- <td>
                    <div *ngIf="court.courtType">
                        <a [routerLink]="['../court-type', court.courtType?.id ]" >{{court.courtType?.type}}</a>
                    </div>
                </td>-->
                <td>
                    {{court.courtType?.type}}
                </td>
                <td>
                    {{court.center?.center}}
                </td>
               <!-- <td>
                    {{court.user?.login}}
                </td>-->
               <!-- <td>
                    <div *ngIf="court.courtLocation">
                        <a [routerLink]="['../court-location', court.courtLocation?.id ]" >{{court.courtLocation?.address}}</a>
                    </div>
                </td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">

                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'booking/'+ court.id + '/new'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary float-right jh-create-entity create-booking">
                                <!--class="btn btn-primary btn-sm">-->
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Book</span>
                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="courts && courts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
