<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCourtLabel">Booking</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!court.id">
           <!-- <label for="id">ID</label>-->
            <input type="hidden" class="form-control" id="id" name="id"
                   [(ngModel)]="court.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="court.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rate">Rate</label>
            <input type="text" class="form-control" name="rate" id="field_rate"
                   [(ngModel)]="court.rate" required/>
            <div [hidden]="!(editForm.controls.rate?.dirty && editForm.controls.rate?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.rate?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_courtImage">Court Image</label>
            <div>
                <img [src]="'data:' + court.courtImageContentType + ';base64,' + court.courtImage" style="max-height: 100px;" *ngIf="court.courtImage" alt="court image"/>
                <div *ngIf="court.courtImage" class="form-text text-danger clearfix">
                   <!-- <span class="pull-left">{{court.courtImageContentType}}, {{byteSize(court.courtImage)}}</span>
                    <button type="button" (click)="clearInputImage('courtImage', 'courtImageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>-->
                </div>
                <!--<input type="file" id="file_courtImage" (change)="setFileData($event, court, 'courtImage', true)" accept="image/*"/>-->
            </div>
            <input type="hidden" class="form-control" name="courtImage" id="field_courtImage"
                   [(ngModel)]="court.courtImage" />
            <input type="hidden" class="form-control" name="courtImageContentType" id="field_courtImageContentType"
                   [(ngModel)]="court.courtImageContentType" />
        </div>


        <div class="form-group">
            <label class="form-control-label" for="field_date">Booking Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="booking.date"
                       required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.date?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bookingtime">Booking Time</label>
            <select class="form-control" name="time"  id="field_bookingtime"  [(ngModel)]="booking.bookingTime" required>
                <option value="10AM">10AM</option>
                <option value="11AM">11AM</option>
                <option value="12PM">12PM</option>
                <option value="1PM">1PM</option>
                <option value="2PM">2PM</option>
                <option value="3PM">3PM</option>
                <option value="4PM">4PM</option>
                <option value="5PM">5PM</option>
                <option value="6PM">6PM</option>
                <option value="7PM">7PM</option>
            </select>
            <div [hidden]="!(editForm.controls.region?.dirty && editForm.controls.region?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.region?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_hour">Required Hour</label>
            <select class="form-control" name="hour"  id="field_hour" [(ngModel)]="booking.bookingHour" required>
                <option value="1Hr">1Hr</option>
                <option value="1.5Hr">1.5Hr</option>
                <option value="2Hr">2Hr</option>
                <option value="2.5Hr">2.5Hr</option>
                <option value="3Hr">3Hr</option>
                <option value="3.5Hr">3.5Hr</option>
                <option value="4Hr">4Hr</option>
            </select>
            <div [hidden]="!(editForm.controls.region?.dirty && editForm.controls.region?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.region?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
