<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCourtLabel">Book a Court</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="court.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>
        <!--  <div class="form-group">
              <label class="form-control-label" for="field_rate">Rate</label>
              <input type="text" class="form-control" name="rate" id="field_rate"
                     [(ngModel)]="court.rate" required/>
              <div [hidden]="!(editForm.controls.rate?.dirty && editForm.controls.rate?.invalid)">
                  <small class="form-text text-danger"
                         [hidden]="!editForm.controls.rate?.errors?.required">
                      This field is required.
                  </small>
              </div>
          </div>-->
       <!-- <div class="form-group">
            <label class="form-control-label" for="field_region">Region</label>
            <select class="form-control" name="region"  [(ngModel)]="court.region" id="field_region" (ngModelChange)="searchcourt(field_region)" required>
                <option value="PetalingJaya">PetalingJaya</option>
                <option value="KelanaJaya">KelanaJaya</option>
                <option value="PutraJaya">PutraJaya</option>
                <option value="Kualalumpur">Kualalumpur</option>
                <option value="SubangJaya">SubangJaya</option>
                <option value="Damansara">Damansara</option>
                <option value="USJ">USJ</option>
                <option value="Puchong">Puchong</option>
                <option value="Nilai">Nilai</option>
                <option value="BukitBintang">BukitBintang</option>
            </select>
            <div [hidden]="!(editForm.controls.region?.dirty && editForm.controls.region?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.region?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>-->
       <!-- <div class="form-group">
            <label class="form-control-label" for="field_courtImage">Court Image</label>
            <div>
                <img [src]="'data:' + court.courtImageContentType + ';base64,' + court.courtImage" style="max-height: 100px;" *ngIf="court.courtImage" alt="court image"/>
                <div *ngIf="court.courtImage" class="form-text text-danger clearfix">
                    <span class="pull-left">{{court.courtImageContentType}}, {{byteSize(court.courtImage)}}</span>
                    <button type="button" (click)="clearInputImage('courtImage', 'courtImageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_courtImage" (change)="setFileData($event, court, 'courtImage', true)" accept="image/*"/>
            </div>
            <input type="hidden" class="form-control" name="courtImage" id="field_courtImage"
                   [(ngModel)]="court.courtImage" />
            <input type="hidden" class="form-control" name="courtImageContentType" id="field_courtImageContentType"
                   [(ngModel)]="court.courtImageContentType" />
        </div>
-->
       <!-- <div class="form-group">
            <label class="form-control-label" for="field_courtType">Court Type</label>
            <select class="form-control" id="field_courtType" name="courtType" [(ngModel)]="court.courtType">
                <option [ngValue]="null"></option>
                <option [ngValue]="courtTypeOption.id === court.courtType?.id ? court.courtType : courtTypeOption" *ngFor="let courtTypeOption of courttypes; trackBy: trackCourtTypeById">{{courtTypeOption.type}}</option>
            </select>
        </div>-->
        <!-- <div class="form-group">
             <label class="form-control-label" for="field_user">User</label>
             <select class="form-control" id="field_user" name="user" [(ngModel)]="court.user" >
                 <option [ngValue]="null"></option>
                 <option [ngValue]="userOption.id === court.user?.id ? court.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
             </select>
         </div>-->
        <!--<div class="form-group">
            <label class="form-control-label" for="field_courtLocation">Court Location</label>
            <select class="form-control" id="field_courtLocation" name="courtLocation" [(ngModel)]="court.courtLocation" >
                <option [ngValue]="null"></option>
                <option [ngValue]="courtLocationOption.id === court.courtLocation?.id ? court.courtLocation : courtLocationOption" *ngFor="let courtLocationOption of courtlocations; trackBy: trackCourtLocationById">{{courtLocationOption.address}}</option>
            </select>
        </div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
