
<div *ngIf="courtLocation">
    <h2><span>Court Location</span> {{courtLocation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Region</span></dt>
        <dd>
            <span>{{courtLocation.region}}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
            <span>{{courtLocation.address}}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
            <span>{{courtLocation.state}}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
            <span>{{courtLocation.country}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'court-location/'+ courtLocation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
