<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCourtLabel">Create or edit a Court</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!court.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="court.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="court.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rate">Rate</label>
            <input type="text" class="form-control" name="rate" id="field_rate"
                [(ngModel)]="court.rate" required/>
            <div [hidden]="!(editForm.controls.rate?.dirty && editForm.controls.rate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.rate?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_courtLocation">Court Location</label>
            <select class="form-control" id="field_courtLocation" name="courtLocation" [(ngModel)]="court.courtLocation">
                <option [ngValue]="null"></option>
                <option [ngValue]="courtLocationOption.id === court.courtLocation?.id ? court.courtLocation : courtLocationOption" *ngFor="let courtLocationOption of courtlocations; trackBy: trackCourtLocationById">{{courtLocationOption.region}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_courtType">Court Type</label>
            <select class="form-control" id="field_courtType" name="courtType" [(ngModel)]="court.courtType">
                <option [ngValue]="null"></option>
                <option [ngValue]="courtTypeOption.id === court.courtType?.id ? court.courtType : courtTypeOption" *ngFor="let courtTypeOption of courttypes; trackBy: trackCourtTypeById">{{courtTypeOption.type}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
